#wrap {font-family: 'Noto Sans KR', sans-serif;}

#container {margin-top: 65px; overflow: hidden;}

#container .containerContent {float: left; padding: 70px 0 0 100px;}
#container .containerContent h1 {font-size: 32px; margin-bottom: 30px;}
#container .containerContent .QnAWrap {display: block; width: 800px; height: 500px;}

/*QnAGet.html*/
#container .containerContent .QnAWrap #QnAGetContent {height: 300px;}