#wrap {font-family: 'Noto Sans KR', sans-serif;}


[type=radio] {display: block;}

#container {margin-top: 65px; overflow: hidden;}


#container .containerContent{float: left; padding: 70px 0 0 100px;}
#container .containerContent h1 {font-size: 70px; padding-top: 300px; margin-left: 400px;}
#container .containerContent h2 { font-size: 40px;  margin-left: 400px;}
#container .containerContent .containerContenttable {display:block; width: 900px; height: 300px; margin-top: 60px;}
.radiolabel {display:inline-block;margin-left: 30px;}

#container .containerContent .containerContenttable .radiogComment{width: 240px; margin-left: -30px;} 

#container .inner .content h1{font-size: 40px;}

#wrap .inner .headerContent .mainmenu li a{text-decoration: none;}
#wrap .inner .headerContent .gnb li a{text-decoration: none;}
#wrap .inner .footArea .footerLeft .footerinfo li a{color: black; text-decoration: none;}
#container .containerContent .containerContenttable .form-control{width:900px; height: 300px; resize:none;}

#container .containerContent .containerContenttable  #modBtn{ background-color: #4285f4; padding: 10px;width:50px;color: white;border-radius: 5px; margin: 10px;}
#container .containerContent .containerContenttable  #closeBtn { background-color: red;padding: 10px;color: white;border-radius: 5px; margin: 10px;}
#container .containerContent .containerContenttable  #regBtn {display: inline-block; background-color: #4285f4; padding: 10px;width:50px;color: white;border-radius: 5px; margin: 10px;}

#container .containerContent .containerContenttable  #closeBtn2 { background-color: red;padding: 10px;color: white;border-radius: 5px; margin-top: -160px; margin-left: 100px;}
#container .containerContent .containerContenttable  #closeBtn5 { position: relative; top: -39px; left: -39px; background-color: red;padding: 10px;color: white;border-radius: 5px; margin-top: -160px; margin-left: 100px;}
/*----------------adminNoticeManage---------------  */

#container .innerNotice .inner h2 {font-size:40px;  padding: 50px;text-align: center;}
#container .innerNotice .page{text-align: center; padding:50px;}
#container .innerNotice .inner.noticeTable { width:900px; height:900px; text-align: center;}
#container .inner #listBtn{background-color: #47C83E; padding: 10px;width:50px;color: white;border-radius: 5px; margin-left: 950px; margin-top: 10px;}
#container .innerNotice .inner .pull-center .pagination .paginate_button{padding:50px; text-align: center;}

/*----------------adminNoticeDetail---------------  */
#container .containerContent .containerContenttable {margin-left: 100px; }
#container .inner  h2{padding:50px; text-align: center; font-size: 40px;}
#container .inner .noticeContent .noticeContenttable {margin-left:100px; width: 900px; height:400px;}
#container .inner .noticeContenttable .form-control{height:400px;}

#container .inner .noticeContenttable #modBtn { background-color: #4285f4; padding: 10px;width:50px;color: white;border-radius: 5px; margin-top: 20px; margin-left: 820px;  }
/* #container .inner .noticeContenttable #remBtn { background-color: red;padding: 10px;color: white;border-radius: 5px;  margin-left: 890px; margin-top: -100px;} */
 #container .inner .noticeContenttable #listBtn{background-color: #47C83E; padding: 10px;width:50px;color: white;border-radius: 5px; margin-left: 950px;} */
/*----------------adminNoticeMod----------------  */
#container .containerContent .containerContenttable .table .length{width:500px;}
#container .inner .noticeContenttable #closeBtn{background-color: red;padding: 10px;color: white;border-radius: 5px;  margin-top: -100px;}

/*----------------adminStudentList----------------  */
#container .inner #searchForm .form-group select{border: 1px solid gray;padding: 5px; border-radius: 5px; }



/*----------------adminStudentInfo----------------  */
#container .inner h1{ font-size:40px;  padding: 50px;text-align: center; }
#container .content {padding: 50px;text-align: center;}
#container .content .info { font-size: xx-small; margin-bottom: 5px;}
#container .content .userInfo{ border-bottom: 1px solid gray; padding: 5px;margin: 5px;}
#container .content #modBtn{ background-color: #4285f4; padding: 10px;width:50px;color: white;border-radius: 5px; margin: 10px;}
#container .content #listBtn{ background-color: #47C83E;padding: 10px;color: white;border-radius: 5px; margin: 10px;}





/* ----------------adminStudentMod----------------  */
#container .inner .content .studentMod { width : 450px; margin : auto;}
#container .inner .content .studentMod form .textInput { margin-bottom : 10px; text-align: left; margin-left : 30px; }
#container .inner .content .studentMod form .textInput .joinText {margin-right : 5px;}
#container .inner .content .studentMod form .textInput .joinInput { border: 1px solid black; padding: 4px; width : 290px; height : 40px;}
#container .inner .content .studentMod form .textInput .joinInput1 { border: 1px solid black; padding: 4px; width : 160px; height : 40px; margin-right : 5px;}
#container .inner .content .studentMod form .textInput .joinInput2 { border: 1px solid black; padding: 4px; width : 100px; height : 40px; margin-right : 5px;}
#container .inner .content .studentMod form .textInput .joinInput3 { border: 1px solid black; padding: 4px; width : 390px; height : 300px; margin-right : 5px; resize: none;}
#container .inner .content .studentMod form .textInput .btn { background-color: gray; padding: 10px; color: white; border-radius: 5px; margin-left: 10px;}
#container .inner .content .studentMod form .textInput label .radiogenderRadio {display:inline-block; width : 15px; height : 15px;}
#container .inner .content .studentMod form .textBtn {}
#container .inner .content .studentMod form .textInputEx { margin-bottom : 10px; text-align: left; margin-left : 30px; font-weight: bold; font-size: 1.2em;}


#container .inner .content .studentMod form .textBtn .modBtn { border-radius: 5px; background-color : #4285f4; color : white;  height : 50px; margin-left : -50px;margin-bottom : 60px; width :50px;}
#container .inner .content .studentMod form .textBtn .closeBtn { border-radius: 5px; background-color : red;  color : white;  height : 50px;  margin-left : 20px; width :50px;}



#container .inner .content .withInfo { margin-bottom : 50px; }
#container .inner .content #withBtn { background-color: red; padding: 10px; color: white; border-radius: 5px; margin: 10px;}

#container .containerContent .cc{ padding-left:400px; }


/* #container .containerContent .containerContenttable .form-control {
    width: 900px;
    height: 400px;
    resize: none;
} */



