#wrap {font-family: 'Noto Sans KR', sans-serif;}
header {position: fixed; border-top: 5px solid #4285f4; background: #fff; width: 100%; height: 65px; z-index: 999; top: 0;}
header nav {height: 65px; background-color: #fff; border: 1px solid #eee;}
header nav .headerContent {padding: 13px 0 8px 0; }
header nav .headerContent .mainlogo {float: left; width: 80px; height: 42px; text-indent: -9999em; margin-right: 40px; background: url(../img/GumonMain/logo.jpg); background-size: cover; }
header nav .headerContent .mainlogo a {display: block; width: 80px; height: 42px;}
header nav .headerContent .mainmenu {float: left; overflow: hidden;}
header nav .headerContent .mainmenu>li {float: left; display: inline-block; margin: 4px 36px 0 0; color: #505050; font-size: 16px; font-weight: 600;}
header nav .headerContent .mainmenu li a {}
header nav .headerContent .mainmenu>li a:hover {color: #4285f4;}
header nav .headerContent .mainmenu li .callsenterSub {display: none; position: relative; right: 35px; width: 130px; height: 105px; background-color: #fff; margin-top: 22px; padding: 20px; text-align: center; border-radius: 3px; border: 1px solid #eee;}
header nav .headerContent .mainmenu li .callsenterSub li { margin-bottom: 15px; }
header nav .headerContent .gnb {float: right; overflow: hidden;}
header nav .headerContent .gnb li {float: left; display: inline-block; margin: 4px 36px 0 0; color: #505050; font-size: 16px; font-weight: 600;}
header nav .headerContent .gnb li a {}
header nav .headerContent .gnb li a:hover {color: #4285f4;}

[type=radio] {display: block;}

#container {margin-top: 65px; overflow: hidden;}
#container aside {display: block; float: left; width: 300px; height: 1000px; background-color: #383e48; border-bottom: 1px solid #fff;}
#container aside .asdieMainMenu {padding: 100px 0 0 30px; z-index: 100;}
#container aside .asdieMainMenu .Mainli {position: relative; margin-bottom: 60px; height: 60px;}
#container aside .asdieMainMenu .Mainli {color: #fff; font-size: 28px; border-bottom: 2px solid #fff; padding-bottom: 10px; cursor: pointer;}

#container aside .asdieMainMenu .Mainli .asideSubmenu {display: none; position: absolute; left: 270px; bottom: 0; width: 200px; height: 112px; background-color: #383e48; margin-top: 22px; padding: 20px 0; text-align: center; border-radius: 3px; border: 1px solid #eee; font-size: 18px;}
#container aside .asdieMainMenu .Mainli:nth-child(1) .asideSubmenu {height: 155px; bottom: -8px;}
#container aside .asdieMainMenu .Mainli .asideSubmenu li {margin-bottom: 15px;}
#container aside .asdieMainMenu .Mainli .asideSubmenu .asideSubmenu2 {display: none; position: absolute; left: 198px; bottom: 0; width: 150px; height: 110px; background-color: #383e48; margin-top: 22px; padding: 20px 0; text-align: center; border-radius: 3px; border: 1px solid #eee;}


#container aside .asdieMainMenu .Mainli .asideSubmenu>li {width: 100%;}
#container aside .asdieMainMenu .Mainli .asideSubmenu>li a{}
#container aside .asdieMainMenu .Mainli .asideSubmenu>li .asideSubmenu2 {}
#container aside .asdieMainMenu .Mainli .asideSubmenu>li .asideSubmenu2 li {}
#container aside .asdieMainMenu .Mainli .asideSubmenu>li .asideSubmenu2 li a {}

#container .containerContent {float: left; padding: 70px 0 0 100px;}
#container .containerContent h1 {font-size: 70px; padding-top: 300px; margin-left: 400px;}
#container .containerContent h2 { font-size: 40px;  margin-left: 400px;}
#container .containerContent .containerContenttable {display:block; width: 900px; height: 300px; margin-top: 60px;}
.radiolabel {display:inline-block;margin-left: 30px;}

#container .containerContent .containerContenttable .radiogComment{width: 240px; margin-left: -30px;} 

#container aside a {color: #fff; text-decoration: none;}


#wrap .inner .headerContent .mainmenu li a{color: #383e48; text-decoration: none;}
#wrap .inner .headerContent .gnb li a{color: #383e48; text-decoration: none;}
#wrap .inner .footArea .footerLeft .footerinfo li a{color: black; text-decoration: none;}
#container .containerContent .containerContenttable .form-control{width:900px; height: 350px; resize:none;}

#container .containerContent .containerContenttable  #modBtn { background-color: #4285f4; padding: 10px;width:50px;color: white;border-radius: 5px; margin: 10px;}
#container .containerContent .containerContenttable  #closeBtn { background-color: red;padding: 10px;color: white;border-radius: 5px; margin: 10px;}
#container .containerContent .containerContenttable  #regBtn { background-color: #4285f4; padding: 10px;width:50px;color: white;border-radius: 5px; margin: 10px;}


footer {position: relative; background: #383e48 repeat-x top; height: 220px;}
footer .footArea {position: relative; max-width: 1200px; margin: 0 auto; overflow: hidden; padding-top: 20px;}
footer .footArea .footerLeft {float: left; width: 70%;}
footer .footArea .footerLeft .callNumber {line-height: 55px; font-size: 16px; color: #afadad; letter-spacing: -0.5px;}
footer .footArea .footerLeft .callNumber b {font-size: 18px; color: #fff;}
footer .footArea .footerLeft .callNumber strong {margin-right:  10px;
    font-size: 24px; font-weight: bold; color: #fff;}
footer .footArea .footerLeft .footerinfo {margin-top: 30px; font-size: 14px; color: #fff; letter-spacing: 0; line-height: 1.5;}
footer .footArea .footerLeft .footerinfo ul {overflow: hidden;}
footer .footArea .footerLeft .footerinfo ul li {float: left; margin-right: 15px;}
footer .footArea .footerLeft address {margin-top: 10px; font-size: 14px; color: #939393;}
footer .footArea .footerRight {float: left; width: 30%; height: 138px;}
footer .footArea .footerRight .sns {height: 57px; line-height: 57px; margin-left: 30%;}
footer .footArea .footerRight .sns a {float: left; margin: 20px 10px 10px 10px;}
footer .copyright {clear: both; padding-top: 30px; font-size: 14px; color: #828893; text-align: center; letter-spacing: 0;}

/*----------------adminNoticeManage---------------  */

#container .innerNotice .inner h2 {padding: 50px;text-align: center;}
#container .innerNotice .page{text-align: center; padding:50px;}
#container .innerNotice .inner.noticeTable { width:900px; height:900px; text-align: center;}
#container .inner #listBtn{background-color: #47C83E; padding: 10px;width:50px;color: white;border-radius: 5px; margin-left: 950px; margin-top: 10px;}
#container .innerNotice .inner .pull-center .pagination .paginate_button{margin-left:500px; padding:50px; text-align: center;}

/*----------------adminNoticeDetail---------------  */
#container .containerContent .containerContenttable  #regBtn { background-color: #4285f4; padding: 10px;width:50px;color: white;border-radius: 5px; margin: 10px;}
#container .containerContent .containerContenttable {margin-left: 100px; }
#container .inner  h2{padding:50px; text-align: center;}
#container .inner .noticeContent .noticeContenttable {margin-left:100px; width: 900px; height:400px;}
#container .inner .noticeContenttable .form-control{height:400px;}

#container .inner .noticeContenttable #modBtn { background-color: #4285f4; padding: 10px;width:50px;color: white;border-radius: 5px; margin-top: 20px; margin-left: 820px;  }
/* #container .inner .noticeContenttable #remBtn { background-color: red;padding: 10px;color: white;border-radius: 5px;  margin-left: 890px; margin-top: -100px;} */
 #container .inner .noticeContenttable #listBtn{background-color: #47C83E; padding: 10px;width:50px;color: white;border-radius: 5px; margin-left: 950px;} */
/*----------------adminNoticeMod----------------  */
#container .containerContent .containerContenttable .table .length{width:500px;}
#container .inner .noticeContenttable #closeBtn{background-color: red;padding: 10px;color: white;border-radius: 5px;  margin-left: 1000px; margin-top: -100px;}


/*----------------adminStudentInfo----------------  */
#container .inner h1{ padding: 50px;text-align: center;}
#container .content {padding: 50px;text-align: center;}
#container .content .info { font-size: xx-small; margin-bottom: 5px;}
#container .content .userInfo{ border-bottom: 1px solid gray; padding: 5px;margin: 5px;}
#container .content #modBtn{ background-color: #4285f4; padding: 10px;width:50px;color: white;border-radius: 5px; margin: 10px;}
#container .content #listBtn{ background-color: #47C83E;padding: 10px;color: white;border-radius: 5px; margin: 10px;}





/* ----------------adminStudentMod----------------  */


#container .inner h1{ padding: 50px;text-align: center;}
#container .content {padding: 50px;text-align: center;}
#container .content .info { font-size: xx-small; margin-bottom: 5px;}
#container .content .userInfo{ border-bottom: 1px solid gray; padding: 5px;margin: 5px;}


#container .content .joinInput{border: 1px solid black;  height:40px; margin-top: 20px;}
#container .content form .Btn {background:gray; width: 100px; height:35px; color: white; font:bold; margin-left: 7px; border-radius: 5px;}
#container .content #modBtn {background-color: #4285f4; padding: 10px;color: white;border-radius: 5px; margin: 10px;}
#container .content #closeBtn {background-color: red;padding: 10px;color: white;border-radius: 5px; margin: 10px;}

#container .content h1{font-size : 3em; margin-top : 50px; margin-bottom : 50px; font-weight: bold;}
#container .content .withInfo{margin-bottom : 20px;}	
#container .content #withBtn{background-color: red; padding: 10px; color: white; border-radius: 5px; margin: 10px;}








