/* RESET */
*,:before,:after {margin: 0; padding: 0; color: inherit; text-decoration: inherit; font-style: inherit; border: 0 solid transparent; outline: 0 solid transparent; background: transparent none center center no-repeat; box-sizing: border-box;}
ul, ol, li {list-style: none;}
table {table-layout: fixed;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: inherit;}
label, button, [type=button], [type=submit], [type=reset] {cursor: pointer; color: black;}
img {display: block;}
a {text-decoration: none;}

/* CLASS */
.clearfix:after {content: ""; display: block; clear: both;}
.ellipsis {text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.hidden {display: none; width: 0; height: 0; visibility: hidden; opacity: 0;}
.bold {font-weight: 700;}

/* GLOBAL */
[type=checkbox], [type=radio] {display: none;}
.inner {display: block; position: relative; margin: auto; width: 1080px; height: 100%;}
.inner:after {content: ""; display: block; clear: both;}

.price {font-family: tahoma; font-weight: 700;}
.price:after {content: "Ïõê";}

.thumb {position: relative;}
.thumb:after {position: absolute; left: 0; bottom: 0; padding: 3px 4px 2px; color: #fff; font-size: 11px;}
.delivaryFree .thumb:after {content: "\bb34\b8cc\bc30\c1a1"; background-color: #5ea403;}
.almostSoldout .thumb:after {content: "\d488\c808\c784\bc15"; background-color: rgb(174, 0, 0);}

#wrap {font-family: Dotum, sans-serif;}

.nav1 {position: relative;}
.nav1:after {position: absolute; top: 0px; right: 31%; width: 12px; height: 12px; background-position: 0 0; vertical-align: top; background-image: url(../img/sp_icon.png);}
.hot.nav1:after {content: "";}

.nav1 {position: relative;}
.nav1:before {position: absolute; top: 0px; right: 43%; width: 12px; height: 12px; background-position: -22px -17px; vertical-align: top; background-image: url(../img/sp_icon.png);}
.new.nav1:before {content: "";}


.productname.productnew:after {content: "NEW"; color: #4075ff; font-size: 11px; margin-left: 5px;}

.thumb {position: relative;}
.thumb.productlow:after {content: "\cd5c\c800\ac00"; position: absolute; top: -260px; left: 210px; color: #fff; background-color: red; width: 50px; height: 50px; text-align: center; line-height: 45px; font-weight: bold; font-size: 13px;}