#container .viewh1{font-variant: bold; font-size: 70px; text-align: center; width: 1980px;}
#container .table{text-align: center; margin-left: 400px;}
#container .table thead th{background-color: #4285f4; font-size:20px; text-align: center;}
#container .table thead .th1{width: 100px; height: 50px;}
#container .table thead .th2{width: 200px;}
#container .table thead .th3{width: 800px;}
#container .table tbody tr #inoutputtd {visibility:hidden;}


#container #viewul{margin-left:600px; width:800px;  border:3px solid #ccc;  border-radius:8px;  list-style:none; }

#container #viewul li{  padding:10px 0 0 10px;   border-top:1px dotted #ccc;  margin-bottom:10px;}

#container #viewul li:first-child{  border:0 none;}
#container #viewul li a{  height:20px;   line-height:20px;   display:block;   text-decoration:none;   color:#000;}
#container #viewul li p{color:#f00;}
#container div .pagination{margin-right: 520px; margin-bottom: 150px;}
footer{margin-top:200px;}

#container .containerContent .inner #faqh2 {margin:30px; font-size:50px; margin-left:200px;}
#container .containerContent .inner #registerbtn {margin-left:1075px; font-size: 20px; margin-bottom: 10px;}
#container .containerContent .inner #faqtable {margin-left:100px;}
#container .containerContent .inner .form-control { resize: none; margin-left:200px;}
#container .containerContent .inner form label {padding-left:200px; font-size:20px; margin: 15px;}
#container .containerContent .inner form #regibtn {margin-left:600px; font-size:30px; margin-top:20px;}
#container .containerContent .inner form #listbtn {margin-left:10px;font-size:30px; margin-top:20px;}
#container .containerContent .inner form #delbtn {margin-left:10px;font-size:30px; margin-top:20px;}