#wrap {font-family: 'Noto Sans KR', sans-serif;}

#container {margin-top: 150px;}
#container h1 {font-size: 30px; margin-bottom: 40px;}

/*leaderQnAGet.html*/
#container #QnALeaderGetContent {height: 300px;}
#container .leaderMyQnAGetForm {border-bottom: 2px solid #eee; padding-bottom: 30px;}
#container .leaderMyQnAGetAnswer {}
#container .leaderMyQnAGetAnswer h2 {font-size: 28px; margin-bottom: 30px;}
#container .QnAWrap textarea {height : 300px;}
