#wrap {font-family: 'Noto Sans KR', sans-serif;}
header {position: fixed; border-top: 5px solid #4285f4; background: #fff; width: 100%; height: 65px; z-index: 999; top: 0;}
header nav {height: 65px; background-color: #fff; border: 1px solid #eee;}
header nav .headerContent {padding: 13px 0 8px 0; }
header nav .headerContent .mainlogo {float: left; width: 80px; height: 42px; text-indent: -9999em; background: url(../img/GumonMain/logo.jpg); background-size: cover; margin-right: 40px;}
header nav .headerContent .mainlogo a {display: block; width: 80px; height: 42px;}
header nav .headerContent .mainmenu {float: left; overflow: hidden;}
header nav .headerContent .mainmenu>li {float: left; display: inline-block; margin: 4px 36px 0 0; color: #505050; font-size: 16px; font-weight: 600;}
header nav .headerContent .mainmenu li a {}
header nav .headerContent .mainmenu>li a:hover {color: #4285f4;}
header nav .headerContent .mainmenu li .callsenterSub {display: none; position: relative; right: 35px; width: 130px; height: 105px; background-color: #fff; margin-top: 22px; padding: 20px; text-align: center; border-radius: 3px; border: 1px solid #eee;}
header nav .headerContent .mainmenu li .callsenterSub li { margin-bottom: 15px; }
header nav .headerContent .gnb {float: right; overflow: hidden;}
header nav .headerContent .gnb li {float: left; display: inline-block; margin: 4px 36px 0 0; color: #505050; font-size: 16px; font-weight: 600;}
header nav .headerContent .gnb li a {}
header nav .headerContent .gnb li a:hover {color: #4285f4;}



#container {margin-top: 150px;}
#container h1 {font-size: 30px; margin-bottom: 40px;}
#container .QnAWrap {overflow: hidden;}
#container .QnAWrap .MyQnAGetForm {border-bottom: 2px solid #eee; padding-bottom: 30px;}
#container .QnAWrap .btnNew {float: right;}
#container .QnAWrap textarea {height: 300px;}
#container .QnAWrap #QnAGetContent {height: 300px;}


/*mainQnARegister.html*/
#container .QnAWrap .pwdOKWrap {position: relative; margin-bottom: 20px;}
#container .QnAWrap .pwdOKWrap p {}
#container .QnAWrap .pwdOKWrap input[type="checkbox"] {display: block;}
#container .QnAWrap .registerpwd {width: 300px; }



footer {position: relative; background: #383e48 repeat-x top; height: 220px; margin-top: 50px;}
footer .footArea {position: relative; max-width: 1200px; margin: 0 auto; overflow: hidden; padding-top: 20px;}
footer .footArea .footerLeft {float: left; width: 70%;}
footer .footArea .footerLeft .callNumber {line-height: 55px; font-size: 16px; color: #afadad; letter-spacing: -0.5px;}
footer .footArea .footerLeft .callNumber b {font-size: 18px; color: #fff;}
footer .footArea .footerLeft .callNumber strong {margin-right:  10px;
    font-size: 24px; font-weight: bold; color: #fff;}
footer .footArea .footerLeft .footerinfo {margin-top: 30px; font-size: 14px; color: #fff; letter-spacing: 0; line-height: 1.5;}
footer .footArea .footerLeft .footerinfo ul {overflow: hidden;}
footer .footArea .footerLeft .footerinfo ul li {float: left; margin-right: 15px;}
footer .footArea .footerLeft address {margin-top: 10px; font-size: 14px; color: #939393;}
footer .footArea .footerRight {float: left; width: 30%; height: 138px;}
footer .footArea .footerRight .sns {height: 57px; line-height: 57px; margin-left: 30%;}
footer .footArea .footerRight .sns a {float: left; margin: 20px 10px 10px 10px;}
footer .copyright {clear: both; padding-top: 30px; font-size: 14px; color: #828893; text-align: center; letter-spacing: 0;}






