#wrap {font-family: 'Noto Sans KR', sans-serif;}
header {position: fixed; border-top: 5px solid #f15b6d; background: #fff; width: 100%; height: 65px; z-index: 999; top: 0;}
header nav {height: 65px; background-color: #F2F2F2; }
header nav .headerContent {padding: 13px 0 8px 0; }
header nav .headerContent .mainlogo {float: left; width: 80px;
    height: 42px; text-indent: -9999em; background: url(../img/GumonMain/logo.jpg); background-size: cover; margin-right: 40px;}
/*header nav .headerContent .mainlogo {display: block; width: 200px;}*/
header nav .headerContent .mainmenu {float: left; overflow: hidden;}
header nav .headerContent .mainmenu>li {float: left; display: inline-block; margin: 4px 36px 0 0; color: #505050; font-size: 16px; font-weight: 600;}
header nav .headerContent .mainmenu li a {}
header nav .headerContent .mainmenu>li a:hover {color: #e83023;}
header nav .headerContent .mainmenu li .callsenterSub {display: none; position: relative; right: 35px; width: 130px; height: 105px; background-color: #F2F2F2; margin-top: 24px; padding: 20px; text-align: center; border-radius: 3px; }
header nav .headerContent .mainmenu li .callsenterSub li { margin-bottom: 15px; }
header nav .headerContent .gnb {float: right; overflow: hidden;}
header nav .headerContent .gnb li {float: left; display: inline-block; margin: 4px 36px 0 0; color: #505050; font-size: 16px; font-weight: 600;}
header nav .headerContent .gnb li a {}
header nav .headerContent .gnb li a:hover {color: #e83023;}



#container {margin-top: 65px;}
#container .slider {width: 100%; }
#container .slider .item {background-color: #eee;}
#container .slider .item img {}
#container .slider .item h1 {}
#container .slider .item p {}
#container .slider .item {position: relative;}
#container .slider .item .slidercontent {position: absolute; top: 300px; left: 300px; }
#container .slider .item .slidercontent h1 {margin: 24px 88px 36px 0; font-size: 37px; font-weight: 300; line-height: 1.43em;}
#container .slider .item .slidercontent p {margin: 24px 88px 36px 0; font-size: 25px; font-weight: 300; line-height: 1.43em;}
#container .slider .item .slidercontent input[type="button"]  {display: inline-block; margin-top: 10px; padding: 0 3pc; height: 3pc; line-height: 3pc; border-radius: 24px; background: #fff; font-size: 18px; font-weight: 700; color: #ef6c00;}
#container .slider .item2 {}
#container .slider .item3 {}

#container .studyListWrap {height: 800px; padding: 30px 0 30px 20px;}
#container .studyListWrap h1 {font-size: 38px;}
#container .studyListWrap h1:last-child {border-bottom: 3px solid #eee; padding-bottom: 30px;}

#container .studyListContent {margin-top: 40px; overflow: hidden; margin-left: 40px;}
#container .studyListContent .studyList {float: left; width: 300px; height: 480px; background-color: #eee;}

#container .studyListContent .studyList:nth-child(2) {margin-left: 50px; }
#container .studyListContent .studyList:nth-child(3) {margin-left: 50px; }

#container .howLike {background-color: #eee; padding-top: 30px;	padding-bottom: 30px;	}
#container .howLike .howLikeTitle {margin-bottom: 40px;}
#container .howLike .howLikeTitle h1 {font-size: 38px;}
#container .howLike ul {overflow: hidden;	}
#container .howLike ul li {float: left;}
#container .howLike ul li:nth-child(1) {width: 37.5%;}
#container .howLike ul li:nth-child(2) {width: 35%;}
#container .howLike ul li:nth-child(2) {width: 27.5%;}
#container .howLike ul li .icon {width: 72px; height: 72px; background: url(https://cdn.studysearch.co.kr/static/images/icon-pc-renewal-assets-2.6d4447f11752.png); background-position-y: -86px; margin-bottom: 20px;	}
#container .howLike ul li .icon1 {}
#container .howLike ul li .icon2 {background-position-x: -81pt;}
#container .howLike ul li .icon3 {background-position-x: -216px;}
#container .howLike ul li h2 {margin: 36px 0 24px; color: #3c3c3c; font-size: 18pt; font-weight: 600;}
#container .howLike ul li h3 {color: #777b7e; font-size: 18px; line-height: 1.6em;}

#container .levelTestGo {margin-top: 50px; padding: 30px 0;}
#container .levelTestGo .levelTestContent {}
#container .levelTestGo .levelTestContent h1 {}
#container .levelTestGo .levelTestContent h2 {}
#container .levelTestGo .levelTestContent a {}

footer {position: relative; background: #383e48 repeat-x top; height: 220px; margin-top: 50px;}
footer .footArea {position: relative; max-width: 1200px; margin: 0 auto; overflow: hidden; padding-top: 20px;}
footer .footArea .footerLeft {float: left; width: 70%;}
footer .footArea .footerLeft .callNumber {line-height: 55px; font-size: 16px; color: #afadad; letter-spacing: -0.5px;}
footer .footArea .footerLeft .callNumber b {font-size: 18px; color: #fff;}
footer .footArea .footerLeft .callNumber strong {margin-right:  10px;
    font-size: 24px; font-weight: bold; color: #fff;}
footer .footArea .footerLeft .footerinfo {margin-top: 30px; font-size: 14px; color: #fff; letter-spacing: 0; line-height: 1.5;}
footer .footArea .footerLeft .footerinfo ul {overflow: hidden;}
footer .footArea .footerLeft .footerinfo ul li {float: left; margin-right: 15px;}
footer .footArea .footerLeft address {margin-top: 10px; font-size: 14px; color: #939393;}
footer .footArea .footerRight {float: left; width: 30%; height: 138px;}
footer .footArea .footerRight .sns {height: 57px; line-height: 57px; margin-left: 30%;}
footer .footArea .footerRight .sns a {float: left; margin: 20px 10px 10px 10px;}
footer .copyright {clear: both; padding-top: 30px; font-size: 14px; color: #828893; text-align: center; letter-spacing: 0;}










