#wrap {font-family: 'Noto Sans KR', sans-serif;}

#container {margin-top: 150px;}
#container h1 {font-size: 30px; margin-bottom: 40px;}
#container .QnAWrap {overflow: hidden;}
#container .QnAWrap .MyQnAGetForm {border-bottom: 2px solid #eee; padding-bottom: 30px;}
#container .QnAWrap .btnNew {float: right;}
#container .QnAWrap textarea {height: 300px;}
#container .QnAWrap #QnAGetContent {height: 300px;}

#container .QnAWrap .MyQnAGetAnswer {padding-top: 30px;}


/*mainQnARegister.html*/
#container .QnAWrap .pwdOKWrap {position: relative; margin-bottom: 20px;}
#container .QnAWrap .pwdOKWrap p {}
#container .QnAWrap .pwdOKWrap input[type="checkbox"] {display: block;}
#container .QnAWrap .registerpwd {width: 300px; }
