#wrap {font-family: 'Noto Sans KR', sans-serif;}
/* header {position: fixed; border-top: 5px solid #4285f4; background: #fff; width: 100%; height: 65px; z-index: 999; top: 0;}
header nav {height: 65px; background-color: #fff; border: 1px solid #eee;}
header nav .headerContent {padding: 13px 0 8px 0; }
header nav .headerContent .mainlogo {float: left; width: 80px; height: 42px; text-indent: -9999em; background: url(../img/GumonMain/logo.jpg); background-size: cover; margin-right: 40px;}
header nav .headerContent .mainlogo a {display: block; width: 80px; height: 42px;}
header nav .headerContent .mainmenu {float: left; overflow: hidden;}
header nav .headerContent .mainmenu>li {float: left; display: inline-block; margin: 4px 36px 0 0; color: #505050; font-size: 16px; font-weight: 600;}
header nav .headerContent .mainmenu li a {}
header nav .headerContent .mainmenu>li a:hover {color: #4285f4;}
header nav .headerContent .mainmenu li .callsenterSub {display: none; position: relative; right: 35px; width: 130px; height: 105px; background-color: #fff; margin-top: 22px; padding: 20px; text-align: center; border-radius: 3px; border: 1px solid #eee;}
header nav .headerContent .mainmenu li .callsenterSub li { margin-bottom: 15px; }
header nav .headerContent .gnb {float: right; overflow: hidden;}
header nav .headerContent .gnb li {float: left; display: inline-block; margin: 4px 36px 0 0; color: #505050; font-size: 16px; font-weight: 600;}
header nav .headerContent .gnb li a {}
header nav .headerContent .gnb li a:hover {color: #4285f4;} */

[type=radio] {
	display : inline-block;
}

#container {margin-top: 65px;}
#container .slider {width: 100%; }
#container .slider .item {background-color: #eee;}
#container .slider .item img {}
#container .slider .item h1 {}
#container .slider .item p {}
#container .slider .item {position: relative;}
#container .slider .item .slidercontent {position: absolute; top: 300px; left: 300px;}
#container .slider .item .slidercontent h1 {margin: 24px 88px 36px 0; font-size: 37px; font-weight: 700; line-height: 1.43em; color: #fff;}
#container .slider .item .slidercontent p {margin: 24px 88px 36px 0; font-size: 25px; font-weight: 700; line-height: 1.43em; color: #fff;}
#container .slider .item .slidercontent input[type="button"]  {display: inline-block; margin-top: 10px; padding: 0 3pc; height: 3pc; line-height: 3pc; border-radius: 24px; background: #fff; font-size: 18px; font-weight: 700; color: #4285f4;}
#container .slider .item2 {}
#container .slider .item3 {}

#container .studyListWrap {height: 800px; padding: 30px 0 30px 20px; margin-top: 40px;}
#container .studyListWrap h1 {font-size: 40px;}
#container .studyListWrap h1 b {color: #4285f4;}
#container .studyListWrap h1:last-child {border-bottom: 3px solid #eee; padding-bottom: 30px;}

#container .studyListContent {margin-top: 40px; overflow: hidden; margin-left: 40px;}
#container .studyListContent .studyList {float: left; width: 300px; height: 480px; background-color: #eee;}

#container .studyListContent .studyList:nth-child(2) {margin-left: 50px; }
#container .studyListContent .studyList:nth-child(3) {margin-left: 50px; }

#container .howLike {background-color: #eee; padding-top: 50px;	padding-bottom: 50px;	}
#container .howLike .howLikeTitle {margin-bottom: 50px;}
#container .howLike .howLikeTitle h1 {font-size: 40px; color: #4285f4; padding-left: 30px; font-weight: 700;}
#container .howLike .howLikeTitle h2 {font-size: 38px; padding-left: 30px; font-weight: 500; color: #3c3c3c;}
#container .howLike ul {overflow: hidden; padding: 0 80px;}
#container .howLike ul li {float: left;}
#container .howLike ul li:nth-child(1) {width: 34%; margin-right: 30px;}
#container .howLike ul li:nth-child(2) {width: 35%; margin-right: 50px;}
#container .howLike ul li:nth-child(2) {width: 27.5%;}
#container .howLike ul li .icon {width: 72px; height: 72px; background: url(https://cdn.studysearch.co.kr/static/images/icon-pc-renewal-assets-2.6d4447f11752.png); background-position-y: -86px; margin-bottom: 20px;	}
#container .howLike ul li .icon1 {}
#container .howLike ul li .icon2 {background-position-x: -81pt;}
#container .howLike ul li .icon3 {background-position-x: -216px;}
#container .howLike ul li h2 {margin: 36px 0 24px; color: #3c3c3c; font-size: 18pt; font-weight: 600;}
#container .howLike ul li h3 {color: #777b7e; font-size: 18px; line-height: 1.6em;}

#container .levelTestGo {margin-top: 50px; margin-bottom: 50px; padding: 30px 0;}
#container .levelTestGo .levelTestContent {display: inline-block;}
#container .levelTestGo .levelTestContent h1 {font-size: 42px;}
#container .levelTestGo .levelTestContent h1 b {color: #4285f4;}
#container .levelTestGo .levelTestContent h2 {margin: 24px 0 36px; font-size: 22px; font-weight: 200; color: #505050;line-height: 1.4em;}
#container .levelTestGo .levelTestContent a {display: inline-block; border-radius: 6px; padding: 22px 58px; box-shadow: 0 3px 6px 0 rgba(0,0,0,.16); background: #4285f4; text-align: center; margin-bottom: 2px; font-size: 22px; font-weight: 600; color: #fff;}
#container .levelTestGo .levelTestImg {float: right; width: 494px; height: 380px; background: url(../img/StudyMain/icon-pc-renewal-assets-2.6d4447f11752.png); background-position-y: -17pc;}

#container .LeaderGo {margin-top: 50px; margin-bottom: 50px; padding: 30px 0;}
#container .LeaderGo .LeaderGoContent {display: inline-block;}
#container .LeaderGo .LeaderGoContent h1 {font-size: 42px;}
#container .LeaderGo .LeaderGoContent h1 b {color: #4285f4;}
#container .LeaderGo .LeaderGoContent h2 {margin: 24px 0 36px; font-size: 22px; font-weight: 200; color: #505050;line-height: 1.4em;}
#container .LeaderGo .LeaderGoContent a {display: inline-block; border-radius: 6px; padding: 22px 58px; box-shadow: 0 3px 6px 0 rgba(0,0,0,.16); background: #4285f4; text-align: center; margin-bottom: 2px; font-size: 22px; font-weight: 600; color: #fff;}
#container .LeaderGo .LeaderGoImg {float: right; width: 494px; height: 380px; background: url(../img/StudyMain/icon-pc-renewal-assets-2.6d4447f11752.png); background-position-y: -43pc;}

/* 지현  */
#container .inner .content {padding : 50px; text-align : center;}
#container .inner .content h1 {font-size : 3em; font-weight: bold; margin-top : 50px; margin-bottom : 50px;}
#container .inner .content form .findInput  input {	border: 1px solid black; padding: 4px; width : 300px; height : 40px; margin-bottom:5px;}
#container .inner .content form .findInput  .loginBtn {	background-color : #4285f4; color : white; border : none; height : 50px; font-weight: bold; margin-bottom : 60px;}
#container .inner .content form .textInput {margin-bottom : 10px;}
#container .inner .content form .textInput .loginBtn {	background-color : #4285f4; color : white; border : none; height : 50px; font-weight: bold; margin-bottom : 60px;}
#container .inner .content form .loginInput  input {	border: 1px solid black; padding: 4px; width : 300px; height : 40px; margin-bottom:5px;}
#container .inner .content form .loginInput  .loginBtn {	background-color : #4285f4; color : white; border : none; height : 50px; font-weight: bold; margin-bottom : 60px;}


#container .inner .content .msg {	color : red; text-align : center; margin : 20px; height : 50px;}

#container .inner .content .chkPw input {border: 1px solid black; padding: 4px; width : 300px; height : 40px;}
#container .inner .content .chkPw .textInput {margin-bottom : 10px;}
#container .inner .content .chkPw .textInput .loginBtn {	background-color : #4285f4; color : white; border : none; height : 50px; font-weight: bold; margin-bottom : 60px;}

#container .inner .content .chgPw input {border: 1px solid black; padding: 4px; width : 300px; height : 40px;}
#container .inner .content .chgPw .textInput {margin-bottom : 10px;}
#container .inner .content .chgPw .textInput .loginBtn {	background-color : #4285f4; color : white; border : none; height : 50px; font-weight: bold; margin-bottom : 60px;}

#container .inner .content form .find {margin-bottom : 50px;}

#container .inner .content .infoContent {width:600px; margin : auto; text-align: left;}
#container .inner .content .infoContent .img { width : 200px; height : 200px; margin : auto; margin-bottom: 50px;}
#container .inner .content .infoContent .img img { width : 200px; height : 200px; border-radius: 100%}
#container .inner .content .infoContent .info { font-size: xx-small; margin-bottom: 5px;}
#container .inner .content .infoContent .userInfo { border-bottom: 1px solid gray; padding: 5px; margin: 5px;}
#container .inner .content .infoContent #modBtn { background-color: #4285f4; padding: 10px; color: white; border-radius: 5px; margin-top : 10px; margin-right: 10px;}

#container .inner .content .infoContent form .joinInput { border: 1px solid black; padding: 4px; width : 200px; height : 40px; margin-right : 5px;}
#container .inner .content .infoContent form .joinInput1 { border: 1px solid black; padding: 4px; width : 150px; height : 40px; margin-right : 5px;}
#container .inner .content .infoContent form .joinInput2 { border: 1px solid black; padding: 4px; width : 100px; height : 40px; margin-right : 5px;}
#container .inner .content .infoContent form .joinInput3 { border: 1px solid black; padding: 4px; width : 390px; height : 300px; margin-right : 5px; resize: none;}
#container .inner .content .infoContent form .joinText { margin-right : 5px;}
#container .inner .content .infoContent form #modBtn { background-color: #4285f4; padding: 10px; color: white; border-radius: 5px; margin-top : 10px; margin-right: 10px;}
#container .inner .content .infoContent form #closeBtn { background-color: red; padding: 10px; color: white; border-radius: 5px; margin-top : 10px; margin-right: 10px;}
#container .inner .content .infoContent form .userInfo #btn { background-color: gray; padding: 10px; color: white; border-radius: 5px; margin-left: 10px;}

#container .inner .content .leaderJoin { width : 450px; margin : auto;}
#container .inner .content .leaderJoin form .textInput { margin-bottom : 10px; text-align: left; margin-left : 30px;}
#container .inner .content .leaderJoin form .textInput .joinText {margin-right : 5px;}
#container .inner .content .leaderJoin form .textInput .joinInput { border: 1px solid black; padding: 4px; width : 290px; height : 40px;}
#container .inner .content .leaderJoin form .textInput .joinInput1 { border: 1px solid black; padding: 4px; width : 160px; height : 40px; margin-right : 5px;}
#container .inner .content .leaderJoin form .textInput .joinInput2 { border: 1px solid black; padding: 4px; width : 100px; height : 40px; margin-right : 5px;}
#container .inner .content .leaderJoin form .textInput .joinInput3 { border: 1px solid black; padding: 4px; width : 390px; height : 300px; margin-right : 5px; resize: none;}
#container .inner .content .leaderJoin form .textInput .btn { background-color: gray; padding: 10px; color: white; border-radius: 5px; margin-left: 10px;}
#container .inner .content .leaderJoin form .textInput label .radiogenderRadio {display:inline-block; width : 15px; height : 15px;}
#container .inner .content .leaderJoin form .textBtn {}
#container .inner .content .leaderJoin form .textBtn #joinBtn { background-color : #4285f4; color : white; border : none; height : 50px; font-weight: bold; margin-bottom : 60px; width : 400px;}

#container .inner .content .withInfo { margin-bottom : 50px; }
#container .inner .content #withBtn { background-color: red; padding: 10px; color: white; border-radius: 5px; margin: 10px;}

/* 지현 */

/* footer {position: relative; background: #383e48 repeat-x top; height: 220px; margin-top: 50px;}
footer .footArea {position: relative; max-width: 1200px; margin: 0 auto; overflow: hidden; padding-top: 20px;}
footer .footArea .footerLeft {float: left; width: 70%;}
footer .footArea .footerLeft .callNumber {line-height: 55px; font-size: 16px; color: #afadad; letter-spacing: -0.5px;}
footer .footArea .footerLeft .callNumber b {font-size: 18px; color: #fff;}
footer .footArea .footerLeft .callNumber strong {margin-right:  10px;
    font-size: 24px; font-weight: bold; color: #fff;}
footer .footArea .footerLeft .footerinfo {margin-top: 30px; font-size: 14px; color: #fff; letter-spacing: 0; line-height: 1.5;}
footer .footArea .footerLeft .footerinfo ul {overflow: hidden;}
footer .footArea .footerLeft .footerinfo ul li {float: left; margin-right: 15px;}
footer .footArea .footerLeft address {margin-top: 10px; font-size: 14px; color: #939393;}
footer .footArea .footerRight {float: left; width: 30%; height: 138px;}
footer .footArea .footerRight .sns {height: 57px; line-height: 57px; margin-left: 30%;}
footer .footArea .footerRight .sns a {float: left; margin: 20px 10px 10px 10px;}
footer .copyright {clear: both; padding-top: 30px; font-size: 14px; color: #828893; text-align: center; letter-spacing: 0;} */


.loader6{
    position: relative;
    width: 12px;
    height: 12px;

    top: 46%;
    top: -webkit-calc(50% - 6px);
    top: calc(50% - 6px);
    left: 46%;
    left: -webkit-calc(50% - 6px);
    left: calc(50% - 6px);

    border-radius: 12px;
    background-color: #4285f4;
    -webkit-transform-origin:  50% 50%;
            transform-origin:  50% 50% ;
    -webkit-animation: loader6 1s ease-in-out infinite;
            animation: loader6 1s ease-in-out infinite;
}

.loader6:before{
    content: "";
    position: absolute;
    background-color: #4285f4;
    top: 0px;
    left: -25px;
    height: 12px;
    width: 12px;
    border-radius: 12px;
}

.loader6:after{
    content: "";
    position: absolute;
    background-color: #4285f4;
    top: 0px;
    left: 25px;
    height: 12px;
    width: 12px;
    border-radius: 12px;
}


@-webkit-keyframes loader6{
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(180deg);}
    100%{-webkit-transform:rotate(180deg);}
}

@keyframes loader6{
    0%{transform:rotate(0deg);}
    50%{transform:rotate(180deg);}
    100%{transform:rotate(180deg);}
}