#wrap {font-family: 'Noto Sans KR', sans-serif;}

#container {margin-top: 65px;}
#container .slider {width: 100%; 
}
#container .slider .item {background: #74ebd5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */}
#container .slider .item img {}
#container .slider .item h1 {}
#container .slider .item p {}
#container .slider .item {position: relative;}
#container .slider .item .slidercontent {position: absolute; top: 230px; left: 400px; background-color: #4285f4; border-radius: 20px; padding: 20px;}
#container .slider .item .slidercontent h1 {margin: 24px 88px 36px 0; font-size: 37px; font-weight: 700; line-height: 1.43em; color: #fff;}
#container .slider .item .slidercontent p {margin: 24px 88px 36px 0; font-size: 25px; font-weight: 700; line-height: 1.43em; color: #fff;}
#container .slider .item .slidercontent input[type="button"]  {display: inline-block; margin-top: 10px; padding: 0 3pc; height: 3pc; line-height: 3pc; border-radius: 24px; background: #fff; font-size: 18px; font-weight: 700; color: #4285f4;}
#container .slider .item2 {}
#container .slider .item3 {}

#container .studyListWrap {height: 335px; padding: 30px 0 30px 20px; margin-top: 40px; text-align: center;}
#container .studyListWrap h1 {font-size: 40px;}
#container .studyListWrap h1 b {color: #4285f4;}
#container .studyListWrap h1:last-child {border-bottom: 3px solid #eee; padding-bottom: 30px;}

#container .studyListContent {margin-top: 40px; overflow: hidden; margin-left: 40px;}
#container .studyListContent .studyList {float: left; width: 300px; height: 480px; background-color: #eee;}

#container .studyListContent .studyList:nth-child(2) {margin-left: 50px; }
#container .studyListContent .studyList:nth-child(3) {margin-left: 50px; }

#container .howLike {background-color: #eee; padding-top: 50px;	padding-bottom: 50px;	}
#container .howLike .howLikeTitle {margin-bottom: 50px;}
#container .howLike .howLikeTitle h1 {font-size: 40px; color: #4285f4; padding-left: 30px; font-weight: 700;}
#container .howLike .howLikeTitle h2 {font-size: 38px; padding-left: 30px; font-weight: 500; color: #3c3c3c;}
#container .howLike ul {overflow: hidden; padding: 0 80px;}
#container .howLike ul li {float: left;}
#container .howLike ul li:nth-child(1) {width: 34%; margin-right: 30px;}
#container .howLike ul li:nth-child(2) {width: 35%; margin-right: 50px;}
#container .howLike ul li:nth-child(2) {width: 27.5%;}
#container .howLike ul li .icon {width: 72px; height: 72px; background: url(https://cdn.studysearch.co.kr/static/images/icon-pc-renewal-assets-2.6d4447f11752.png); background-position-y: -86px; margin-bottom: 20px;	}
#container .howLike ul li .icon1 {}
#container .howLike ul li .icon2 {background-position-x: -81pt;}
#container .howLike ul li .icon3 {background-position-x: -216px;}
#container .howLike ul li h2 {margin: 36px 0 24px; color: #3c3c3c; font-size: 18pt; font-weight: 600;}
#container .howLike ul li h3 {color: #777b7e; font-size: 18px; line-height: 1.6em;}

#container .levelTestGo {margin-top: 50px; margin-bottom: 50px; padding: 30px 0;}
#container .levelTestGo .levelTestContent {display: inline-block;}
#container .levelTestGo .levelTestContent h1 {font-size: 42px;}
#container .levelTestGo .levelTestContent h1 b {color: #4285f4;}
#container .levelTestGo .levelTestContent h2 {margin: 24px 0 36px; font-size: 22px; font-weight: 200; color: #505050;line-height: 1.4em;}
#container .levelTestGo .levelTestContent a {display: inline-block; border-radius: 6px; padding: 22px 58px; box-shadow: 0 3px 6px 0 rgba(0,0,0,.16); background: #4285f4; text-align: center; margin-bottom: 2px; font-size: 22px; font-weight: 600; color: #fff;}
#container .levelTestGo .levelTestImg {float: right; width: 494px; height: 380px; background: url(../img/StudyMain/picindex.png); background-position-y: -17pc;}

#container .LeaderGo {margin-top: 50px; padding: 30px 0;}
#container .LeaderGo .LeaderGoContent {display: inline-block;}
#container .LeaderGo .LeaderGoContent h1 {font-size: 42px;}
#container .LeaderGo .LeaderGoContent h1 b {color: #4285f4;}
#container .LeaderGo .LeaderGoContent h2 {margin: 24px 0 36px; font-size: 22px; font-weight: 200; color: #505050;line-height: 1.4em;}
#container .LeaderGo .LeaderGoContent a {display: inline-block; border-radius: 6px; padding: 22px 58px; box-shadow: 0 3px 6px 0 rgba(0,0,0,.16); background: #4285f4; text-align: center; margin-bottom: 2px; font-size: 22px; font-weight: 600; color: #fff;}
#container .LeaderGo .LeaderGoImg {float: right; width: 494px; height: 380px; background: url(../img/StudyMain/picindex.png); background-position-y: -43pc;}

.loader6{
    position: relative;
    width: 12px;
    height: 12px;

    top: 46%;
    top: -webkit-calc(50% - 6px);
    top: calc(50% - 6px);
    left: 46%;
    left: -webkit-calc(50% - 6px);
    left: calc(50% - 6px);

    border-radius: 12px;
    background-color: #4285f4;
    -webkit-transform-origin:  50% 50%;
            transform-origin:  50% 50% ;
    -webkit-animation: loader6 1s ease-in-out infinite;
            animation: loader6 1s ease-in-out infinite;
}

.loader6:before{
    content: "";
    position: absolute;
    background-color: #4285f4;
    top: 0px;
    left: -25px;
    height: 12px;
    width: 12px;
    border-radius: 12px;
}

.loader6:after{
    content: "";
    position: absolute;
    background-color: #4285f4;
    top: 0px;
    left: 25px;
    height: 12px;
    width: 12px;
    border-radius: 12px;
}


@-webkit-keyframes loader6{
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(180deg);}
    100%{-webkit-transform:rotate(180deg);}
}

@keyframes loader6{
    0%{transform:rotate(0deg);}
    50%{transform:rotate(180deg);}
    100%{transform:rotate(180deg);}
}








