#container .inner{
text-align: center;
}
   
#container .inner h1{
background: yellow;
font-size: 40px;
font-weight: bold;
   margin: 100px 0px;
   }
   .question {
   background: aqua;
   height: 400px;
   }
   .select {
   background: pink;
   height: 100px;
   }
   .answer {
   text-align: center;
   height: 150px;
   }
   
   .select ol{
   list-style: lower-roman;
   }
   
   .select ol li {
   display: inline-block;
   font-size: 20px; 
   font-weight: bold;
   margin: 0px 50px;
   }
   
   .answer input{
   margin: 0px 50px 0px 50px;
   }
   
   /* 레벨테스트 관리 */
   
   .problem {
	text-align: center;
	}

	.questionInput {
	margin-bottom: 35px;
	}
	
	#answerInput {
	font-size: 20px;
	margin: 20px 0px;
	}
	
	.problem .form-control {
	margin-right: 30px;
	}
	
	.problem button{
	width: 100px;
	margin-right: 10px;
	}