<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scorpion.mapper.LeaderMapper">

	<insert id="insertSelectKey">
		insert into leader (LEAID, LEAPASSWORD, LEANAME, LEAADDRESS, LEAGENDER,LEAPHONENUM, LEAEMAIL, LEASCORE, LEAACCOUNT, LEAINTRODUCE, LEABANK, AUTH)
		values (#{leaId}, #{leaPassword}, #{leaName}, #{leaAddress}, 
		#{leaGender}, #{leaPhonenum}, #{leaEmail}, 
		0, #{leaAccount}, #{leaIntroduce}, #{leaBank}, 'ROLE_LEADER')
	</insert>

	<select id="read" resultType="com.scorpion.domain.LeaderVO">
		select * from leader where leaid = #{leaId}
	</select>
	
	
	<update id="update">
		update leader set 
		leapassword = #{leaPassword}, 
		leaaddress = #{leaAddress}, 
		leaphonenum = #{leaPhonenum}, 
		leaemail = #{leaEmail}, 
		leabank = #{leaBank}, 
		leaaccount = #{leaAccount},
		leaintroduce = #{leaIntroduce}
	</update>
</mapper>