<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scorpion.mapper.QnaMapper">
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM QNA

	</select>
	
	<select id="getListWithPaging"
		resultType="com.scorpion.domain.QnaVO">
   	<![CDATA[
  		SELECT	qnaIndex, qnaTitle, qnaContent, qnaWriter, qnaDate, qnaAnswer, qnaAnsState, qnaAnsDate
  		FROM	( SELECT 	/*+INDEX_DESC(qna SYS_C007244)*/
  							rownum rn, qnaIndex, qnaTitle, qnaContent, qnaWriter, qnaDate, qnaAnswer, qnaAnsState, qnaAnsDate
  				  FROM 		qna
  				  WHERE		rownum <= #{pageNum} * #{amount} 
  				  )
  		WHERE rn > (#{pageNum} - 1) * #{amount}
  		
  	]]>
	</select>
	
	<select id="getMyListWithPaging"
		resultType="com.scorpion.domain.QnaVO">
   	<![CDATA[
  		SELECT rownum rn, qnaIndex, qnaTitle, qnaContent, qnaWriter, qnaDate, qnaAnswer, qnaAnsState, qnaAnsDate
  		FROM qna
  		WHERE qnaWriter = #{user_id}
  		ORDER BY qnaIndex desc
  	]]>
	</select>

	<select id="read" resultType="com.scorpion.domain.QnaVO">
		SELECT * FROM qna WHERE qnaIndex = #{qnaIndex}
	</select>
	
	<select id="myread" resultType="com.scorpion.domain.QnaVO">
		SELECT * FROM qna WHERE qnaIndex = #{qnaIndex}
	</select>

	<insert id="insertSelectKey">
		<selectKey keyProperty="qnaIndex" resultType="long"
			order="BEFORE">
			SELECT qna_no.nextval FROM dual
		</selectKey>
		INSERT INTO qna (QNAINDEX, QNATITLE, QNACONTENT, QNAWRITER, QNADATE)
		VALUES(#{qnaIndex}, #{qnaTitle}, #{qnaContent}, #{qnaWriter}, sysdate)
	</insert>

	<delete id="delete">
  		DELETE FROM qna WHERE qnaindex = #{qnaIndex}
 	</delete>

	<update id="update">
	  	UPDATE	qna
  		SET		QNACONTENT = #{qnaContent}, QNATITLE = #{qnaTitle}, QNADATE = #{qnaDate}, QNAWRITER = #{qnaWriter}, QNAINDEX = #{qnaIndex}
  		WHERE  	QNAINDEX = #{qnaIndex}
  	</update>
  	
  	<update id="updateAnswer">
	  	UPDATE	qna
  		SET		QNAANSDATE = sysdate, QNAANSSTATE = #{qnaAnsState}, QNAANSWER = #{qnaAnswer}, QNACONTENT = #{qnaContent}, QNATITLE = #{qnaTitle}, QNADATE = #{qnaDate}, QNAWRITER = #{qnaWriter}, QNAINDEX = #{qnaIndex}
  		WHERE  	QNAINDEX = #{qnaIndex}
  	</update>
  	
</mapper>