<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.scorpion.mapper.RefundMapper">

	<update id="update">
	  	UPDATE	refund
	  	SET		refsuccess = SYSDATE, refstate = '처리 완료'
	  	WHERE  	refindex = #{refIndex}
  	</update>

	<select id="getTotalCount" resultType="int">
	  	SELECT COUNT(*) FROM refund 
	  	WHERE 
	  	refsuccess is null
  	</select>

	<select id="getListWithPaging"
  	      resultType="com.scorpion.domain.RefundVO">
   	<![CDATA[
  		SELECT	refindex, payindex, refrequest, refsuccess, refstate
  		FROM	( SELECT 	/*+INDEX_DESC(refund SYS_C007416)*/
  							rownum rn, refindex, payindex, refrequest, refsuccess, refstate
  				  FROM 		refund
  				  WHERE		refsuccess is null and rownum <= #{pageNum} * #{amount} )
  		WHERE rn > (#{pageNum} - 1) * #{amount}
  	]]>
  </select>

	<insert id="insertSelectKey">
	    <selectKey keyProperty="refIndex" resultType="long"    
	    			order="BEFORE">
	    	SELECT ref_no.nextval FROM dual
	    </selectKey>
	  	INSERT INTO refund(refindex, payindex, refrequest, refstate)
	  	VALUES(#{refIndex}, #{payIndex}, SYSDATE, '처리 전')
  	</insert>
  	
  	<insert id="insert">
	  	INSERT INTO refund(refindex, payindex, refrequest, refstate)
	  	VALUES(ref_no.nextval, #{payIndex}, SYSDATE, '처리 전')
  	</insert>
</mapper>