<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.scorpion.mapper.StudentMapper">
  
  
  <update id="setLevel">
  	UPDATE	student
  	SET		stulevel = #{level}
  	WHERE  	stuid = #{stuid}
  </update>
  
  <resultMap type="com.scorpion.domain.StudentVO" id="studentMap">
      <id property="stuId" column = "stuid"/>
      <result property="stuId" column="stuid"/>
      <result property="stuPassword" column="stupassword"/>
      <result property="stuName" column="stuname"/>
      <result property="stuAddress" column="stuaddress"/>
      <result property="stuGender" column="stugender"/>
      <result property="stuPhonenum" column="stuphonenum"/>
      <result property="stuEmail" column="stuemail"/>
      <result property="stuEmail2" column="stuemail2"/>
      <result property="stuLevel" column="stulevel"/>
 		
      <collection property="authList" resultMap="authMap">
      </collection>
      
    
   </resultMap>
   
     <resultMap type="com.scorpion.domain.AuthorityVO" id="authMap">
      <result      property="auth"         column="auth"/>   
   </resultMap>
   
     <resultMap id="leaderMap"
			   type="com.scorpion.domain.LeaderVO" >
		<result	property="leaId"		column="leaid"/>
	
	</resultMap> 
   
    
    <resultMap id="dupIdMap"
			   type="com.scorpion.domain.StudentVO" >
   	<id property="stuId" column = "stuid"/> 
      <collection property="leader"	resultMap="leaderMap"/>

   </resultMap>  
     
       

    
  
    <!-- 쿼리 보관 -->
   <sql id="criteria">
  	<trim prefix="(" suffix=") AND " 
  			  prefixOverrides="OR">
  			<foreach item="type" collection="typeArr">
  				<trim prefix="OR">
  					<choose>
  						<when test="type == 'T'.toString()">
  							stuId  LIKE '%'||#{keyword}||'%'
  						</when>
  					<!-- 	<when test="type == 'C'.toString()">
  							content LIKE '%'||#{keyword}||'%'
  						</when>
  						<when test="type == 'W'.toString()">
  							writer  LIKE '%'||#{keyword}||'%'
  						</when> -->
  					</choose>
  				</trim>
  			</foreach>	  
  		</trim>
  </sql>

  <!--   <select id="getTotalCount" resultType="int">
  	SELECT COUNT(*) FROM student
  	WHERE 
  		보관해 둔 쿼리 사용
  		<include refid="criteria"></include>
  	stuid > 0
  </select> -->
  
  
  
  
  
  
  <select id="getTotalCount" resultType="int">
  	SELECT COUNT(*) FROM student where <include refid="criteria"></include> stuid is not null
  	
  </select>
  
  


<select id="getListWithPaging"
  	      resultType="com.scorpion.domain.StudentVO">
   	<![CDATA[
  		SELECT	stuid, stupassword, stuname, stuaddress,stugender,stuphonenum,stuemail,stulevel,auth
  		FROM	( SELECT 	/*+INDEX_DESC(student SYS_C007432)*/
  							rownum rn, stuid, stupassword, stuname,
  							stuaddress, stugender, stuphonenum, stuemail, stulevel, auth
  				  FROM 		student
  				  WHERE		
  				  ]]><include refid="criteria"></include><![CDATA[
  				  rownum <= #{pageNum} * #{amount} )
  		WHERE rn > (#{pageNum} - 1) * #{amount}
  	]]>
  </select>


  

  <select id="read" resultMap="studentMap" >
  	 select * from student where stuid = #{stuId}

  </select>


 <select id="idcheck" parameterType="String"  resultType="Integer" >
    select count(*)
    from student
    where #{stuId} = (select leaid from leader where leaid= #{stuId})
    
</select>

	
 <select id="idcheck2" parameterType="String"  resultType="Integer" >
    select count(*)
    from student
    where stuid = #{stuId} 
    
</select>
	



<!--  <select id="idcheck" parameterType="String" resultType="Integer" resultMap="dupIdMap" >
      SELECT COUNT(*) FROM student stu, leader lea WHERE stu.stuid = #{stuId} or lea.leaid = #{stuId}
</select> 
 -->

<!-- select stuid
    from student
    where stuid = (select leaid from leader where leaid='good'); -->

<!-- select count(*)
from student stu, leader lea
where stu.stuid = lea.leaid; -->

  <update id="update">
  	UPDATE	student
  	SET		stupassword = #{stuPassword}, stuaddress = #{stuAddress}, stuphonenum=#{stuPhonenum},
  			stuemail = #{stuEmail}
  	WHERE  	stuid = #{stuId}
  </update>
  
  <delete id="delete">
  	DELETE FROM student WHERE stuid = #{stuId}
  </delete> 


	 <update id="drop">
  	UPDATE	student
  	SET	  enabled = '0'
  	WHERE  	stuid = #{user_id}
	  </update>




  <insert id="insertSelectKey">
  	INSERT INTO student (stuid, stupassword, stuname,
  							stuaddress, stugender, stuphonenum, stuemail, stuemail2, auth)
  	VALUES(#{stuId}, #{stuPassword}, #{stuName} , #{stuAddress}, #{stuGender},
  	 #{stuPhonenum}, #{stuEmail}, #{stuEmail2},'ROLE_STUDENT')
  </insert>  
  
 
  <select id="getList" 
  		  resultType="com.scorpion.domain.StudentVO">
  	<![CDATA[
  		SELECT * FROM student WHERE stuid > 0
  	]]>
  </select>
  
  
  
</mapper>


